<div id="content" class="container my-4 my-md-5" style="transform: none;">
    <div class="content-wrap">
        <div class="content-layout">
            <div class="panel card">
                <div class="card-body">
                    <div class="panel-header mb-4">
                        <h1 class="h3">免责声明</h1></div>
                    <div class="panel-body mt-2">
                        <p>
                            <strong>免责声明</strong>：</p>
                        <ul>
                            <li>本站大部分网址资源收集于网络，只做学习和交流使用，网站所有权归原作则所有，网站内容请自行甄别是否会对自己造成一定风险，由此带来的风险本站概不负责。</li>
                            <li>本站发布的内容若侵犯到您的权益，请联系站长删除，我们将及时处理。</li></ul>
                        <p>联系邮箱：{$AdminInfo['systemUserInfo__email']}</p>
                        <p>联系QQ：{$AdminInfo['systemUserInfo__qq']}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>