/.idea
/.vscode
*.log
.env
config/install/lock/install.lock
runtime/admin
runtime/log
runtime/session
runtime/temp
runtime/cache
public/conf
public/WowOss.exe
public/upload
public/docs
public/backup
public/temp
public/static/image/*
composer.phar
