/.idea
/.vscode
*.log
.env
config/install/lock/install.lock
runtime/*
!runtime/.keep
public/conf
public/WowOss.exe
public/upload
public/docs
public/backup
public/temp
public/static/image/*
composer.phar