{//选项卡列表--暂未使用}
<div class="slider_menu into" slidertab="sliderTab">
    <ul class="nav nav-pills menu" role="tablist"><li class="anchor" style="position: absolute; width: 60px; height: 40px; left: 5px; opacity: 1;"></li>
        <li class="pagenumber nav-item">
            <a class="nav-link active" data-toggle="pill" data-type="sites" href="#sites" onclick="currentType(this)">网站</a>
        </li><li class="pagenumber nav-item">
            <a class="nav-link" data-toggle="pill" data-type="wechat" href="#wechat" onclick="currentType(this)">公众号</a>
        </li><li class="pagenumber nav-item">
            <a class="nav-link" data-toggle="pill" data-type="down" href="#down" onclick="currentType(this)">资源</a>
        </li>
    </ul>
</div>