{//小卡片}
<div class="url-card col-6 col-2a col-sm-2a col-md-4a col-lg-5a col-xl-6a col-xxl-10a col-xxl-10a ">

    <div class="url-body mini ">
        <a href="/go?url={:encryptDecrypt('url',$LinkDataVo.url,0)}" target="_blank" data-id="537" data-url="{$LinkDataVo.url}" class="card mb-3 site-537" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="{$LinkDataVo.description}">
            <div class="card-body">
                <div class="url-content d-flex align-items-center">
                    <div class="url-img rounded-circle mr-2 d-flex align-items-center justify-content-center">
                        <img class="lazy unfancybox loaded" src="{$LinkDataVo.image_path}" height="auto" width="auto" alt="{$LinkDataVo.description}<" data-was-processed="true"></div>
                    <div class="url-info flex-fill" style="padding-top: 2px">
                        <div class="text-sm overflowClip_1">
                            <strong>{$LinkDataVo.name}</strong></div>
                    </div>
                </div>
            </div>
        </a>
        <a href="/go?url={$LinkDataVo.url}" target="_blank" rel="external nofollow noopener" title="" class="togo text-center text-muted is-views" data-id="537" data-toggle="tooltip" data-placement="right" data-original-title="直达">
            <i class="iconfont icon-goto"></i>
        </a>
    </div>
</div>