{//url卡片 -- 暂未使用}
<div class="url-card io-px-2  col-1a col-sm-1a col-md-2a col-lg-1a col-xl-2a col-xxl-4a   ">
  <div class="url-body max ">
    <a href="https://nav.iowen.cn/sites/179.html" data-id="179" data-url="https://trianglify.io" class="card  mb-4 site-179" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Trianglify Generator">
      <div class="card-body py-2 px-3">
        <div class="url-content align-items-center d-flex flex-fill">
          <div class="url-img rounded-circle mr-2 d-flex align-items-center justify-content-center">
            <img class="lazy unfancybox loaded" src="https://api.iowen.cn/favicon/trianglify.io.png" data-src="https://api.iowen.cn/favicon/trianglify.io.png" height="auto" width="auto" alt="trianglify" data-was-processed="true"></div>
          <div class="url-info flex-fill">
            <div class="text-sm overflowClip_1">
              <strong>trianglify</strong></div>
            <p class="overflowClip_1 text-muted text-xs">Trianglify Generator</p></div>
        </div>
        <div class="url-like">
          <div class="text-muted text-xs text-center mr-1">
            <span class="views">
              <i class="iconfont icon-chakan"></i>1.5K</span>
            <span class="btn-like pl-2 " data-action="post_star" data-post_type="sites" data-id="179" data-ticket="543448124b">
              <i class="star-ico iconfont icon-collection-line"></i>
              <span class="star-count-179">2</span></span>
          </div>
        </div>
        <div class="url-goto-after mt-2"></div>
      </div>
    </a>
    <div class="url-goto px-3 pb-1">
      <div class="d-flex align-items-center" style="white-space:nowrap">
        <div class="tga text-xs py-1">
          <span class="mr-1">
            <a href="https://nav.iowen.cn/favorites/zaixianpeise" rel="tag">在线配色</a></span>
        </div>
        <a href="https://nav.iowen.cn/go/?url=aHR0cHM6Ly90cmlhbmdsaWZ5LmlvLw%3D%3D" target="_blank" rel="external nofollow" title="" class="togo text-center text-muted is-views" data-id="179" data-toggle="tooltip" data-placement="right" data-original-title="直达">
          <i class="iconfont icon-goto"></i>
        </a>
      </div>
    </div>
  </div>
</div>