{//后期封面}
<div class="post-cover overlay-hover mb-3 mb-md-4">
  <div class="media rounded-xl media-5x1">
    <div class="media-content" data-src="//cdn.iowen.cn/gh/owen0o0/ioStaticResources@master/banner/banner015.jpg" data-was-processed="true" style="background-image: url(&quot;//cdn.iowen.cn/gh/owen0o0/ioStaticResources@master/banner/banner015.jpg&quot;);">
      <span class="overlay"></span>
    </div>
    <div class="card-img-overlay d-flex justify-content-center text-center flex-column p-3 p-md-4">
      <div class="h4 text-white">—— 公告 ——</div>
      {present  name='$bulletin.conunt'}
      <div class="text-white"> <small>总计：{$bulletin.conunt}</small> </div>
      {else /}
      <div class="text-xs">
        <a class="mx-1 custom-piece_c_b" href="/Bulletin/all" style="color:#fff;background:#f12345;padding:2px 5px;border-radius:3px;">
          <small>所有公告</small></a>
      </div>
      {/present}
    </div>
  </div>
</div>